[data-dialog-id="ModDebugTools_Main"] > .game-dialog-body {
    display: grid;
    grid-template-columns: calc(150px * var(--scale-floor)) 1fr;
}

[data-dialog-id="ModDebugTools_Main"] > .game-dialog-body > * {
    position: relative;
}

[data-dialog-id="ModDebugTools_Main"] > .game-dialog-body > * > .game-dialog-scrollable-wrapper {
    --scroll-height: calc(10px * var(--scale-floor));
    --negative-margin: var(--scroll-height);
}

.debug-tools-subpanel-link.active {
    --button-active-background: #353132;
}

.debug-tools-range-row-no-default-button {
    grid-template-columns: auto 1fr;
}

[data-dialog-id="ModDebugTools_Inspect"] .paragraph {
    padding-bottom: calc(5px * var(--scale-floor)) !important;
}

.debug-tools-inspect-dialog-inspect-section {
    margin-top: calc(20px * var(--scale-floor));
}

.debug-tools-inspect-entity-sub-section {
    margin-top: calc(10px * var(--scale-floor));
}

.dropdown-label > .label {
    margin-top: calc(3px * var(--scale-floor));
}