.debug-tools-range-row-no-default-button {
	grid-template-columns: auto 1fr;
}

[data-dialog-id="ModDebugTools_Inspect"] .paragraph {
	padding-bottom: calc(5px * var(--scale-floor)) !important;
}

.debug-tools-inspect-dialog-inspect-section {
	margin-top: calc(20px * var(--scale-floor));
}

.debug-tools-inspect-entity-sub-section {
	margin-top: calc(10px * var(--scale-floor));
}

.dropdown-label > .label {
    margin-top: calc(4px * var(--scale-floor));
}

.debug-tools-inspect-human-wrapper-add-item {
	margin-left: calc(20px * var(--scale-floor));
	margin-bottom: calc(10px * var(--scale-floor));
}

.debug-tools-paint-row {
	position: absolute;
	bottom: -10px;
	width: calc(100% - 10px * var(--scale-floor));
	background: var(--background-dialog);
}

.debug-tools-paint-row > * {
	gap: calc(4px * var(--scale-floor));
}

.debug-tools-paint-row:not(.painting) > .real-paint-row {
	grid-template-columns: 1fr !important;
}

.debug-tools-paint-row:not(.painting) > .real-paint-row > :not(:first-child) {
	display: none;
}

.debug-tools-paint-panel {
	height: calc(100% - calc(20px * var(--scale)) + var(--negative-margin) * 2 - 54px) !important;
}

.tab-dialog-subpanel-link.inspection-lock {
	--border-width: 1px;
	border: var(--border-width) solid grey !important;
}

.tab-dialog-subpanel-link.inspection-lock::after {
	border: var(--border-width) solid grey;
	margin-top: calc(var(--border-width) * -1);
	border-left: none;
}

.debug-tools-dialog-selection-quantity {
	gap: 0 !important;
}

.debug-tools-dialog-selection-source {
	grid-template-columns: min(50%, calc(150px * var(--scale-floor))) 1fr;
	gap: 2px;
}

.debug-tools-dialog-selection-source > .dropdown-label {
	gap: 2px;
}

.debug-tools-dialog-checkbutton-dropdown-row {
	grid-template-columns: auto 1fr;
}

.debug-tools-selection-action {
	grid-template-columns: auto auto auto;
}

.debug-tools-selection-action > .text {
	margin-top: calc(10px * var(--scale-floor));
}

.debug-tools-island-heading .input > input {
    width: 100%;
    border: none;
    height: 100%;
    padding: calc(2px * var(--scale-floor)) calc(5px * var(--scale-floor));
    margin-top: calc(-2px * var(--scale-floor));
    margin-bottom: calc(-1px * var(--scale-floor));
}

.debug-tools-island-heading {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.debug-tools-selection-preview-wrapper {
    margin: calc(10px * var(--scale-floor)) 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: calc(10px * var(--scale-floor));
}

.debug-tools-selection-preview {
    width: 100%;
	height: calc(200px * var(--scale-floor));
    position: relative;	
	grid-column: 2;
	grid-row: 1;
}

.debug-tools-selection-preview:not(.has-targets) {
	filter: grayscale() brightness(0.2);
}

.debug-tools-selection-preview-wrapper .button-icon {
	height: calc(44px * var(--scale-floor));
	align-self: center;
}

.debug-tools-selection-method {
	grid-template-columns: minmax(auto, calc(150px * var(--scale-floor))) 1fr auto;
}
